@import '../../node_modules/bootstrap/scss/bootstrap.scss';


@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Timmana");

body{
    padding: 0;
    margin: 0;
    background: #20B2AA;
    color: white;
    font-family: 'Timmana', sans-serif;
}

th{
  font-size: 18pt;
}

#app{
    font-family: 'Timmana', sans-serif;
}
span{
  margin-left: 35px
}


.container.ret {
  position: relative;
  width: 50%;
}
.image {
  display: block;
  width: 333px;
  height: auto;
  margin-bottom: 40px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  margin-left: 15px;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 333px;
  height:0;
  transition: .5s ease;
}

.container.ret:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
